@use "./theme/theme" as theme;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.background {
  img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

header {
  display: flex;
  justify-content: space-between;
  background-color: theme.blur-gray(0.2);
  backdrop-filter: blur(1000px);
  height: 1.6rem;
  width: 100%;

  .menu,
  .utility {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: theme.$text-white;
    padding: 0.1rem 0.7rem;
    font-size: 0.9rem;
    &__item {
      display: flex;
      justify-content: space-between;
      padding-right: 0.7rem;

      &__logo {
        // transform: scale(0.6);
        width: 0.8rem;
        height: auto;
      }
    }
  }
}

.dock {
  width: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
  left: 25%;
  border: 1px solid theme.$border-gray;
  border-radius: 1.3rem;
  background-color: theme.blur-gray(0.3);
  backdrop-filter: blur(1000px);
  &__list {
    margin: 0.3rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    &__item {
      img {
        width: 3.5rem;
        height: 3.5rem;
        z-index: 5;
        margin: 0.1rem;
      }
    }
  }
}
