@use "./theme/theme" as theme;
@use "./modules/dock.scss";
@use "./modules/modal.scss";
@use "./modules/header-menu.scss";
@use "./modules/photo-booth.scss";
@use "./modules/calculator.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.background {
  img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
  }
}
