$text-black: #161616;
$text-white: #fff;
$text-menu: #241c21;
$dock-dot: rgb(0, 0, 93);
$hover-blue: rgb(46, 108, 204);

// modal
$modal-tab: #eae5ed;
$modal-bottom: #ded9e0;
$modal-close-btn: #ff5151;
$modal-min-btn: #feb63d;
$modal-max-btn: #00c644;
$modal-showdow: rgba(#292929, 0.2);
$video-btn: #f7232b;

// calculator
$border-radius: 8px;
$calc-gray: #616366;
$calc-black: #2d3034;
$calc-orange: #ff9f09;

@function black-opacity($opacity: 0.2) {
  @return rgba(0, 0, 0, $opacity);
}

@function white-opacity($opacity: 0.5) {
  @return rgba(255, 255, 255, $opacity);
}
