$black: #161616;
$white: #fff;
$dock-dot: #00005d;
$hover-blue: #2e6ccc;

// modal
$modal-tab: #eae5ed;
$modal-bottom: #ded9e0;
$modal-close-btn: #ff5151;
$modal-min-btn: #feb63d;
$modal-max-btn: #00c644;
$modal-showdow: rgba(#292929, 0.2);

// photo-booth
$video-btn: #f7232b;

// reminders
$reminders-blue: #347bf6;
$reminders-title: lightcoral;

// calculator
$border-radius: 8px;
$calc-gray: #616366;
$calc-black: #2d3034;
$calc-orange: #ff9f09;

@function black-opacity($opacity: 0.2) {
  @return rgba(0, 0, 0, $opacity);
}

@function white-opacity($opacity: 0.5) {
  @return rgba(255, 255, 255, $opacity);
}
