@use "../theme/theme" as theme;

.dock {
  width: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
  left: 25%;
  border: 1px solid theme.black-opacity(0.5);
  box-shadow: 15px 15px 20px -2px theme.black-opacity(0.13);
  border-radius: 1.3rem;
  background-color: theme.white-opacity(0.3);
  backdrop-filter: blur(1000px);

  &__container {
    margin: 0.3rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      width: 4rem;
      height: 4rem;
      margin: 0 0.14rem;
      display: flex;
      justify-content: center;
      align-items: center;
      // --scale: 1;

      &:nth-of-type(3)::after,
      &:nth-of-type(4)::after,
      &:nth-of-type(9)::after {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: theme.black-opacity(0.8);
        content: "";
        bottom: 2px;
      }

      &__name {
        visibility: hidden;
        position: absolute;
        width: max-content;
        top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: theme.white-opacity(0.5);
        font-size: 0.9rem;
        padding: 0.2rem 0.9rem;
        border-radius: 0.2rem;

        &::after {
          content: "";
          position: absolute;
          bottom: -0.45rem;
          width: 0;
          height: 0;
          backdrop-filter: blur(13px);

          border-left: 0.4rem solid transparent;
          border-right: 0.4rem solid transparent;
          border-top: 0.45rem solid theme.white-opacity(0.5);
        }
      }

      &__ico {
        // --scale: 1;

        width: 4rem;
        height: 4rem;

        transition: 0.2s;
        position: relative;

        // transform: scale(calc(6rem * var(--scale)));
        // padding: 0 0.5rem;
        // cursor: default;

        // top: calc((6rem * var(--scale) - 6rem) / 2 * -1);
        // transition: all 0.3s ease-out;
      }
    }
  }
}

@for $i from 1 through 9 {
  .dock__container__item:nth-of-type(#{$i}):hover .dock__container__item__name {
    visibility: visible;
  }
}
